<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page de connexion des clients:</title>
    {{ encore_entry_link_tags('app') }}
</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center" style="height: 100vh;">
            <div class="col-12">
                <h3 class="text-center">Formulaire de connexion :</h3>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-5 col-md-6 col-10 border shadow-lg p-3">
                        {% if error %}
                        <div class="">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}


                        <form action="{{ path('login_client') }}" method="post">

                            <div class="form-group col">
                                <label for="username">Email :</label>
                                <input type="email" name="_username" id="username" class="form-control">
                            </div>

                            <div class="form-group col">
                                <label for="password">Mot de passe :</label>
                                <input type="password" name="_password" id="password" class="form-control">
                            </div>  
                           
                            <div class="form-group col text-center">
                                <button type="submit" class="btn btn-primary rounded-pill">Se connecter</button>
                            </div>

                            <div class="form-group col">
                                <p class="">Vous n'avez pas de compte ? <a href="{{ path('inscription') }}" class="btn-link">inscrivez-vous ici</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ encore_entry_script_tags('app') }}
</body>

</html>